* {
	background-color: grey;
}

p {
	color: white;
}

h1 {
	color: white;
}

.element {
  animation: pulse 5s infinite;
  height: 200px;
  width: 200px;
  font-size: 42px;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}

p.element:hover {
  color: green;
  text-decoration: underline;
}


